body {
  display: block;
}

header {
  padding: 2rem $gutter;
  grid-template-columns: 60px auto 44px;
  h1 {
    font-size: 2rem;
    padding-top: 0.6rem;
  }
}

//main

main h1 {
  margin-top:2rem;
}

#cards {
  padding:1rem;
  section {
    padding:0;
    border-radius: 10px;
    overflow:hidden;
    grid-template-columns: 450px auto;
    grid-template-areas:
      "photo name"
      "photo location"
      "photo address"
      "photo phone"
      "photo button";
      img {
        margin-bottom: 0;
        border-radius:0;
      }
    .infoWrapper {
      margin:1rem 0 0 1rem;
      h2 {
        text-align: left;
      }
    }
  }
}
//end cards
