$primaryColor: rgb(13, 48, 130);
$secondaryColor: rgb(239, 239, 239);
$accentColor: rgb(255, 234, 0);
$accentColorLt: rgb(132, 179, 41);
$overlayFont: "Share Tech Mono", serif;
$fontColor: #333;
$headerFont: "Playfair Display", serif;
$defaultFont: "Open Sans", sans-serif;
$lightWeight: 400;
$normalWeight: 500;
$boldWeight: 600;
$gutter: 16px;
